In this data we will kmow how many famylies in calfornia back then and the medina income , total population , how many houses neaer the ocean or in ilesnd or near by and how many rooms , bedrooms , median value of the houses back then , median ages
it will help us to compare it to the numbers that we have for calfornia right now

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("housing.csv")

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

1-How much the median income in all the blocks

In [64]:
df["median_income"].median()

3.5347999999999997

In [65]:
data = {
  "median_income":[3.5347999999999997],
}

#load data into a DataFrame object:
question1= pd.DataFrame(data)

print(question1)

   median_income
0         3.5348

In [66]:
question1.to_csv("question1.csv")

2-Total Rooms in calfornia

In [9]:
qustion2 = df['total_rooms'].value_counts()

In [10]:
qustion2.to_csv("qustion2.csv")

In [11]:
df2 = pd.read_csv("qustion2.csv")

In [12]:
df2.head()

   Unnamed: 0  total_rooms
0      1527.0           18
1      1613.0           17
2      1582.0           17
3      2127.0           16
4      1717.0           15

3- what is total of the poplution in calfornia?

In [13]:
x=df["population"]
total=sum(x)
print(total)

29421840.0

In [14]:
x

0         322.0
1        2401.0
2         496.0
3         558.0
4         565.0
          ...
20635     845.0
20636     356.0
20637    1007.0
20638     741.0
20639    1387.0
Name: population, Length: 20640, dtype: float64

In [15]:
x.to_csv("qustion3.csv")

4-Total of Housholds

In [16]:
z=df["households"]
total=sum(z)
print(total)

10310499.0

In [17]:
z

0         126.0
1        1138.0
2         177.0
3         219.0
4         259.0
          ...
20635     330.0
20636     114.0
20637     433.0
20638     349.0
20639     530.0
Name: households, Length: 20640, dtype: float64

In [18]:
z.to_csv("qustion4.csv")

 5- Max of median_house_value

In [19]:
df["median_house_value"].max()

500001.0

In [20]:
data = {
  "median_house_value":[500001.0],
}

#load data into a DataFrame object:
qustion5 = pd.DataFrame(data)

print(qustion5)

   median_house_value
0            500001.0

In [21]:
qustion5.to_csv("qustion5.csv")

6-How many households are INLAND?

In [22]:
question6=df[df["ocean_proximity"]=="INLAND"]["households"]
print(question6)

954       208.0
957      1115.0
965       286.0
967       577.0
968       324.0
          ...
20635     330.0
20636     114.0
20637     433.0
20638     349.0
20639     530.0
Name: households, Length: 6551, dtype: float64

In [23]:
question6.to_csv("question6.csv")

7-How many households NEAR BAY the ocean

In [24]:
question7=df[df["ocean_proximity"]=="NEAR BAY"]["households"]
print(question7)

0         126.0
1        1138.0
2         177.0
3         219.0
4         259.0
          ...
19067     460.0
19068     775.0
19069     838.0
19077     936.0
19104    1029.0
Name: households, Length: 2290, dtype: float64

In [25]:
question7.to_csv("question7.csv")

8-How many households one hour away from the ocean

In [26]:
qustion8 =df[df["ocean_proximity"]=="<1H OCEAN"]["households"]

In [27]:
qustion8.to_csv("question8.csv")

9_Total bedrooms in calfornia

In [28]:
question9 =df['total_bedrooms'].value_counts()

In [29]:
question9.to_csv("question9.csv")

10-ascending from the oldest age to the smallest age

In [30]:
 question10 =df.sort_values(ascending=False, by = 'housing_median_age').housing_median_age
print (question10)

18881    52.0
1671     52.0
19116    52.0
19516    52.0
16200    52.0
         ...
12077     2.0
18972     1.0
12286     1.0
3130      1.0
19536     1.0
Name: housing_median_age, Length: 20640, dtype: float64

In [31]:
question10.to_csv("question10.csv")

11- How many poeple  are 41 years old?

In [32]:
g=df["housing_median_age"]==41
total= sum(g)
print(total)

296

In [33]:
ata = {
  "housing_median_age":[296],
}

#load data into a DataFrame object:
qustion11 = pd.DataFrame(data)

print(qustion11)

   median_house_value
0            500001.0

In [34]:
qustion11.to_csv("qustion11.csv")

12- 10- How many people are 52 years old?

In [35]:
g=df["housing_median_age"]==52
total= sum(g)
print(total)

1273

In [36]:
ata = {
  "housing_median_age":[1273],
}

#load data into a DataFrame object:
qustion12 = pd.DataFrame(data)

print(qustion12)

   median_house_value
0            500001.0

In [37]:
qustion12.to_csv("qustion12.csv")

13- How many people are 18 years old?

In [38]:
g=df["housing_median_age"]==18
total= sum(g)
print(total)

570

In [39]:
data = {
  "housing_median_age":[570],
}

#load data into a DataFrame object:
qustion13 = pd.DataFrame(data)

print(qustion13)

   housing_median_age
0                 570

In [40]:
qustion13.to_csv("qustion13.csv")

14- Ascending from the lowest income to the higher one

In [41]:
qustion13=df.sort_values(ascending=False, by = 'median_income').median_income
print(qustion13)

4352     15.0001
10673    15.0001
8849     15.0001
4606     15.0001
5257     15.0001
          ...
3249      0.4999
3258      0.4999
6343      0.4999
5213      0.4999
20091     0.4999
Name: median_income, Length: 20640, dtype: float64

In [42]:
qustion13.to_csv("qustion13.csv")

In [68]:
qustionlonglat=df[["longitude","latitude"]]
print(qustionlonglat)

       longitude  latitude
0        -122.23     37.88
1        -122.22     37.86
2        -122.24     37.85
3        -122.25     37.85
4        -122.25     37.85
...          ...       ...
20635    -121.09     39.48
20636    -121.21     39.49
20637    -121.22     39.43
20638    -121.32     39.43
20639    -121.24     39.37

[20640 rows x 2 columns]

In [69]:
qustionlonglat.to_csv("qustionlonglat.csv")

15-what is median income for people how is age is 41 ?

In [47]:
df[df["housing_median_age"]==41.0]["median_income"].mean()

3.1700574324324324

In [48]:
data = {
  "housing_median_age":[3.1700574324324324],
}

#load data into a DataFrame object:
qustion15 = pd.DataFrame(data)

print(qustion15)

   housing_median_age
0            3.170057

In [49]:
qustion15.to_csv("qustion15.csv")

In [50]:
df[df["housing_median_age"]==52.0]["median_income"].mean()

3.889047446975648

In [70]:
data = {
  "housing_median_age":[3.889047446975648],
}

#load data into a DataFrame object:
question16 = pd.DataFrame(data)

print(question16)

   housing_median_age
0            3.889047

In [71]:
question16.to_csv("question16.csv")

In [53]:
question17=df[df["housing_median_age"]==52]["total_bedrooms"]
print(question17)

2        190.0
3        235.0
4        280.0
5        213.0
6        489.0
         ...
20142    320.0
20220    420.0
20236    112.0
20237    343.0
20592    160.0
Name: total_bedrooms, Length: 1273, dtype: float64

In [73]:
question17.to_csv("question17.csv")

In [76]:
quesstion18=df[df["housing_median_age"]==18]["total_bedrooms"]
print(quesstion18)

131       210.0
542       763.0
654      1526.0
656      1007.0
755       419.0
          ...
20600     367.0
20603    1021.0
20609     480.0
20636     150.0
20638     409.0
Name: total_bedrooms, Length: 570, dtype: float64

In [77]:
quesstion18.to_csv("quesstion18.csv")